{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block content %}

<div class="midde_cont">
  <div class="container-fluid">
    <div class="row column_title">
      <div class="col-md-12">
        <div class="page_title">
          <h2>Dashboard</h2>
        </div>
      </div>
      <div class="container " style="border: solid black;padding: 30px;margin-top: 30px;border-radius: 6px;">
        <div class="row">
          <div class="col-md-4">
            <form method="POST" action="{% url 'add_slider' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Slider Title</label>
                <input type="text" class="form-control" name="slider_title" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Insert a Title">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Description</label>
                <input type="text" class="form-control" name="slider_desc" id="exampleInputPassword1"
                  placeholder="Insert a Description">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Slider Image</label>
                <input type="file" class="form-control" name="slider_img" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>

          <div class="col-md-8" style="border-left:1px solid black">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Image</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in slider_show %}
                <tr>
                  <form action="{% url 'delete_all' %}" method="POST">
                    {% csrf_token %}
                    <th scope="row"> <input type="checkbox" value="{{i.id}}" name="slider_del"> {{i.id}}</th>
                    <td> {{i.slider_title}} </td>
                    <td> {{i.slider_description}} </td>
                    <td><img src="/media/{{i.slider_image}}" alt="" style="width: 100px;height: 100px;"></td>
                    <td>
                      <a href="{% url 'restore' i.id %}" class="btn btn-success"><i
                          class="fa-solid fa-window-restore"></i></a>||
                      <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter"><i
                          class="fa-solid fa-trash"></i></a>
                      <!-- <a href="{% url 'del_permanent' i.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a> -->
                      <!-- <a href="{% url 'slider_delete' i.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a> -->
                    </td>
                </tr>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Or No</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Do you want to delete...?
                        <a href="{% url 'del_permanent' i.id %}" class="btn btn-primary">Yes</a> / <a
                          href="{% url 'trush' %}" class="btn btn-danger">No</a>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <button type="submit">Delete All</button>
                </form>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% load sweetify %}
{% sweetify %}
{% endblock %}